@charset "UTF-8";

/* 네비게이션 스타일 */
.nav {
    background-color: #ffffff;
    border-bottom: 1px solid #e9ecef;
}

.navContainer {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.menuButton {
    background: none;
    border: none;
    font-size: 20px;
    padding: 15px 15px 15px 0;
    cursor: pointer;
}

.menuButton:hover {
    color: #4263eb;
}

.navMenu {
    display: flex;
    list-style: none;
    font-weight: bold;
}

.navMenu li {
    margin-right: 20px;
}

.navMenu a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    color: #495057;
    font-size: 17px;
}

.navMenu a:hover {
    color: #4263eb;
}