@charset "UTF-8";

.container{
    /* background-color: aqua; */
    padding-left: 40px;
    padding-top: 50px;
    width: 100%;
    min-height: 800px
}

.title{
    font-size: 25px;
    font-weight: bold
}
.intro{
    font-size: 13px;
    padding-top: 5px;
}

/*정보입력 테이블*/
.inputContainer{
    /* background-color: antiquewhite; */
    width: 100%;
    margin-top: 25px;
    text-align: left;
    
    border-top: 2px solid #000;
}
.inputContainer table{
    /* background-color: aquamarine; */
    width: 100%;
    border-collapse: collapse;
}

.profileThTd{
    height: 150px;
    border: 1px solid #ececec;
}

.thTd{
    height: 60px;
    border: 1px solid #ececec;
}

.inputContainer table th{
    padding: 0 30px;
    width: 20%;
    background-color: #fff;
    font-size: 14px;
}
.inputContainer table td{
    font-size: 14px;
    padding-left: 8px;
}
/*프로필 이미지*/
.profilebox{
    display: flex;
    height: 100%;
}

.imgBox{
    width: 130px;
    border: 1px solid #d4d4d4;
    height: 90%;
    margin: auto 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef6ff;
    margin-bottom: 10px;
}
.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgbtn{
    display: inline-block;
    height: 16%;
    padding: 2px 6px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 7px;
    font-size: 12px
}

.imginput{
    display: none;
}

.txtinput{
    width: 300px;
    padding: 5px;
}

/*생년월일 셀렉트바*/
.birthSelectBar{
    display: flex;
    gap: 8px;
}
.birthSelectBar select{
    height: 35px;
    margin: auto 0;
    width: 200px;
    padding-left: 10px;
}

/*인증*/
.isverifiedOk{
    color: var(--logo-color);
    font-weight: bold;
}
.isverifiedNo{
    color: red;
    font-weight: bold;
}

/*버튼*/
.buttonBox{
    /* background-color: bisque; */
    margin-top: 100px;
    text-align: center;
}
.buttonBox button{
    padding: 5px 5px;
    width: 100px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 15px;
    height: 45px;
    width: 150px;
    border-radius: 5px;
}

.fixbtn{
    background-color: var(--logo-color);
    border: none;
    color: #fff;
}
.fixbtn:hover{
    background-color: var(--login-button-hover-color);
    transform: scale(1.03);
}

.cancelbtn{
    background-color: #d4d4d4;
    border: 1px solid #d4d4d4;
    color: #fff;
}
.cancelbtn:hover{
    background-color: #b3b3b3;
    transform: scale(1.03);
}